ul.experiments.navigation {
    list-style: none;
    padding-left: 0;
}

.glossary.navigation {
    float: right;
}
.glossary.navigation li {
    display: inline;
}
.glossary.entries .term {
    font-weight: bold;
}

.plant-nav {
    border-top: 1px solid #cfcfcf;
    padding-top: 20px;
    padding-bottom: 40px;
}

.plant-nav img {
    -webkit-box-shadow: 1px 1px 2px 1px rgba(153,153,153,1);
    -moz-box-shadow: 1px 1px 2px 1px rgba(153,153,153,1);
    -o-box-shadow: 1px 1px 2px 1px rgba(153,153,153,1);
    box-shadow: 1px 1px 2px 1px rgba(153,153,153,1);
}

.plant-question {
    padding-bottom: 20px;
}

.temp {
    margin: auto;  
    display: grid;
    grid-template-rows: 60px;
}
.temp-left {
    padding-right: 25%;
}
.temp-right {
    padding-left: 25%;
}

.data-table {
    font-size: 60%;
}
.data-table th.top {
    color: #ffffff;
    background-color: #0f66a7;
}

.references h4 {
    color: #999;
    font-weight: 600;
    font-size: 36px;
}

.nowrap {
    white-space: nowrap;
}